.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  body {
    background-image: url("./purplebground.jpeg");
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  
  .container {
    margin-top: 100px;
    border: 3px solid rgb(204, 194, 194);
    background-color: transparent;
    box-shadow: 10px 10px darkmagenta;
  }
  
  .header {
    color:#ffffff;
    font-size: 50px;
    font-weight: bolder;
    opacity: 1;
    margin-top: 20px;
    height: 75px;
    text-shadow: 3px 3px deepskyblue;
  }
  
  p {
    color: rgba(45, 202, 241, 0.993);
    font-size: 30px;
    font-weight: bolder;
    opacity: 1;
    margin: auto;
    padding: 15px;
  }
  
  user profile image 
  .user-pro {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .logout {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 13px;
    color:#000000;
    box-shadow: 2px 2px 1px white;
    text-align: center;
    border: 1px solid darkmagenta;
    background-color: deepskyblue;
    margin-top: 10px;
  }
  
  .login {
    height: 100px;
    width: 125px;
    border-radius: 20%;
    color:#000000;
    box-shadow: 2px 2px 1px white;
    text-align: center;
    border: 1px solid darkmagenta;
    background-color: deepskyblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(deepskyblue,rgb(175, 188, 192), #ffffff); 
    margin: 15px;
  }
  
  .instruct {
    color:#ffffff;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    
  }


 .card {
   float: left;
   margin-left: 350px;
 }

 .block {
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  border: 6px solid white;
  height: 300px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  margin-top: 30px;
  margin-left: 800px;
  }

 .LeaderTable {

   background-color:#ded9f0;
   opacity: .9;
 }

 thead {
  color: darkmagenta;
  font-size: 25px;
  font-weight: bold;
  background-color:#b9b4cf;
  text-shadow: 1px 1px #ffffff;
 }

 th {
   text-align: center;
 }



.leaderboard {
  color: rgba(45, 202, 241, 0.993);
  font-size: 50px;
  font-weight: bolder;
  opacity: 1;
  margin: auto;
  padding: 5%;
}

img.us {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 200px;
    margin-top: 10px;
  }
.level {
  margin-top: 10px;
}  

.userScore {
  margin-top: 15px;
  margin-bottom: 10px;
}

.answerSpace {
  margin-top: 15px;
  margin-bottom: 10px;
}




