.PlayAgain {
    height: 50px;
    width: 100px;
    border-radius: 20%;
    position: absolute;
    margin: 5px;
    color:#000000;
    text-align: center;
    border: 1px solid darkmagenta;
    background-color: deepskyblue;
}
