h4 {
    color: rgba(45, 202, 241, 0.993);
    font-size: 30px;
    font-weight: bolder;
    opacity: 1;
  
   
}

.PartOfSpeech {
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    opacity: 1;
  
}