footer {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 3px;
  background: magenta;
  opacity: .2;
}
span.footer {
  color: #ffffff;
  text-shadow: .5px 1px deepskyblue;
}
