nav.navbar.navbar-default {
  margin-bottom: 0;
  font-family: 'Oswald', sans-serif;
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/MPaEbz-/videoblocks-computer-generated-abstract-footage-with-glowing-purple-vertical-stripes-moving-against-dark-background-loop-ready-animation_hsggepohlz_thumbnail-small01.jpg);
  color: white !important;
  border-style: ridge;
  border-color: black;
}

li {
  margin: auto 320px;
  color: white !important;
  font-size: 45px;
}

a {
  color: white !important;
  background-color: transparent !important;
}

img {
  height: 50px;
  width: 150px;
}